.container {
    display: flex;
    border: 0px;
    background-color: none;
    text-align: center;
    margin: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
}

.box {
    text-align: center;
    line-height: 100px;
    margin: 20px;
    width: 100px;
}
li {
    list-style: none;
    text-align: center;
}

h1 {
    text-align:center;
    font-size: 50px;
    line-height: 1;
    font-family: 'courier', serif;
}
p1{
    font-size: 25px;
}
hr {
    width: 50%;
}
